.Cards {
<<<<<<< HEAD
    width : 600px;
}

@media only screen and (max-width: 600px) {
    .Cards {
        width : 100%;
    }
}
=======
  width: 600px;
}

@media only screen and (max-width: 600px) {
  .Cards {
    width: 100%;
  }
}
>>>>>>> 2aad8d9972241fd181080973bc53b532275aef25
