.Menu {
<<<<<<< HEAD
    display: flex;
    padding-right: 1.5em;
    cursor: pointer;
  
    .icon {
      margin-right: 1.5rem;
      width: 23px;
      height: 23px;
  
      &:hover {
        cursor: pointer;
      }
    }
  }
=======
  display: flex;
  padding-right: 1.5em;
  cursor: pointer;

  .icon {
    margin-right: 1.5rem;
    width: 23px;
    height: 23px;

    &:hover {
      cursor: pointer;
    }
  }
}
>>>>>>> 2aad8d9972241fd181080973bc53b532275aef25
